# Desenvolvimento (SQLite)
DATABASE_URL=sqlite+aiosqlite:///./inventario.db

# Produção (PostgreSQL) — usar este no docker compose
# DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/inventario

SECRET_KEY=your-so-fucking-security-key
ACCESS_TOKEN_EXPIRE_MINUTES=480
CORS_ORIGINS=http://localhost:5173,https://seu-dominio.com
