# Desenvolvimento (SQLite)
DATABASE_URL=sqlite+aiosqlite:///./inventario.db

# Produção (PostgreSQL) — usar este no docker compose
# DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/inventario

SECRET_KEY=0d1bc0e4060e70209249abeaf9ba27a3500995ee0c9ed94494488b4a342de28c
ACCESS_TOKEN_EXPIRE_MINUTES=480
CORS_ORIGINS=http://localhost:5173,https://seu-dominio.com
